.main-comp{
    margin-left: 10em;
    margin-right: -14em;
}
.slider {
    position: relative;
    height: 100vh;
    display: flex;

}
.image{
    width: 680px;
    height: 424px;
    border-radius: 10px;
    margin-top: 3em;
    margin-left: 10em;
    border-radius: 0px;
}

.right-arrow {
    position: absolute;
    top: 40%;
    left: 25em;
    font-size: 2rem;
    color: rgb(163, 163, 163);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.left-arrow {
    position: absolute;
    top: 40%;
    left: 20rem;
    font-size: 2rem;
    color: rgb(163, 163, 163);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
/* Searchicon  */
.bi.bi-search{
    color: white;
    margin-top: 3px;
    margin-right: 6px;
    margin-left: -19px;
}
/* Search input */
.form-control.rounded{
    margin-left: 113em;
    margin-right: 3em;
}
.side-img{
    height: 70px;
    width: 70px;
    border: 0.5px solid black;
    /* margin-top: 5em;
    margin-left: -41em; */
}
.side-car-cont{
    display: grid;
    margin-left: -41em;
    margin-top: 4em;
}
.gen-info{
    margin-left: 9em;
    margin-top: -28em;
    /* display: table-caption; */
    font-size: 20px;
    display: table-caption;
    /* width: 6em; */
    white-space: nowrap;
}
.side-car-cont{
    max-height: 25em;
}
.color-container{
    /* width: 100px;
    height: 100px; */
    margin-left: 27.5em;
    margin-top: 1;
}
.color{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 30px;
    opacity: 0.7;
}
.color-div1{
margin-right: 1em;
}
.color-div2{
    margin-top: -3.1em;
    margin-left: 7em;
}
.color-div3{
    margin-top: -3.1em;
    margin-left: 15em;
}
.color-div4{
    margin-top: -3.1em;
    margin-left: 22em;
}
.color-div5{
    margin-left: -1em;
    margin-top: 0.5em;
}
.color-div6{
    margin-top: -3.1em;
    margin-left: 7em;
}
.color-div7{
    margin-top: -3.1em;
    margin-left: 15em;
}
.color-div8{
    margin-top: -3.1em;
    margin-left: 22em;
}
.color-spes{
    max-width: 50px;
    max-height: 50px;
    border: 1px solid black;
    border-radius: 30px;
}
.hello{
    margin-top:100em;
}

/* vertical carousel style */
.carousel-inner.vertical {
    height: 100%; /*Note: set specific height here if not, there will be some issues with IE browser*/
  }
  .carousel-inner.vertical > .item {
    -webkit-transition: .6s ease-in-out top;
    -o-transition: .6s ease-in-out top;
    transition: .6s ease-in-out top;
  }
  
  @media all and (transform-3d),
  (-webkit-transform-3d) {
    .carousel-inner.vertical > .item {
      -webkit-transition: -webkit-transform .6s ease-in-out;
      -o-transition: -o-transform .6s ease-in-out;
      transition: transform .6s ease-in-out;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-perspective: 1000;
      perspective: 1000;
    }
    .carousel-inner.vertical > .item.next,
    .carousel-inner.vertical > .item.active.right {
      -webkit-transform: translate3d(0, 33.33%, 0);
      transform: translate3d(0, 33.33%, 0);
      top: 0;
    }
    .carousel-inner.vertical > .item.prev,
    .carousel-inner.vertical > .item.active.left {
      -webkit-transform: translate3d(0, -33.33%, 0);
      transform: translate3d(0, -33.33%, 0);
      top: 0;
    }
    .carousel-inner.vertical > .item.next.left,
    .carousel-inner.vertical > .item.prev.right,
    .carousel-inner.vertical > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      top: 0;
    }
  }
  
  .carousel-inner.vertical > .active {
    top: 0;
  }
  .carousel-inner.vertical > .next,
  .carousel-inner.vertical > .prev {
    top: 0;
    height: 100%;
    width: auto;
  }
  .carousel-inner.vertical > .next {
    left: 0;
    top: 33.33%;
    right:0;
  }
  .carousel-inner.vertical > .prev {
    left: 0;
    top: -33.33%;
    right:0;
  }
  .carousel-inner.vertical > .next.left,
  .carousel-inner.vertical > .prev.right {
    top: 0;
  }
  .carousel-inner.vertical > .active.left {
    left: 0;
    top: -33.33%;
    right:0;
  }
  .carousel-inner.vertical > .active.right {
    left: 0;
    top: 33.33%;
    right:0;
  }
  
  #carousel-pager .carousel-control.left {
      bottom: initial;
      width: 100%;
  }
  #carousel-pager .carousel-control.right {
      top: initial;
      width: 100%;
  }
  .col-md-3{
    margin-left: -70em;
    max-width: 16%;
  }
.row{
    position: relative;
    margin-right: -14px;
    margin-left: 3px;
    margin-top: 30px;
}
.dv-star-rating{
    display: inline-flex;
}