.slider {
    position: relative;
    height: 100vh;
    display: flex;

}
.image{
    width: 680px;
    height: 424px;
    border-radius: 10px;
    margin-top: 3em;
    margin-left: 10em;
    border-radius: 0px;
}

.right-arrow {
    position: absolute;
    top: 40%;
    left: 25em;
    font-size: 2rem;
    color: rgb(163, 163, 163);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.left-arrow {
    position: absolute;
    top: 40%;
    left: 20rem;
    font-size: 2rem;
    color: rgb(163, 163, 163);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
/* Searchicon  */
.bi.bi-search{
    color: white;
    margin-top: 10px;
    margin-right: 6px;
    margin-left: -19px;
}
.form-control.rounded{
    margin-left: 64em;
    margin-right: 2em;
}
.side-img{
    height: 70px;
    width: 70px;
    border: 0.5px solid black;
    /* margin-top: 5em;
    margin-left: -41em; */
}
.side-car-cont{
    display: grid;
    margin-left: -41em;
    margin-top: 4em;
}
.gen-info{
    margin-left: 14em;
    margin-top: -34em;
    display: table-caption;
}
.side-car-cont{
    max-height: 25em;
}